@import './base/reset', './utils/variable','./layout/header', './base/typo', './components/card', './components/tags', './pages/index';

html{
    font-size: 62.5%;
}

body {
    font-family: $fontfam;
    overflow-x: hidden;
}