@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 0;
}

header {
  display: flex;
}

.logo {
  max-width: 26rem;
  height: auto;
  margin: 1.7rem auto;
}

.card {
  width: 30%;
  height: 36rem;
  background: #e7e7e7;
  border-radius: 5px;
}

.card__img {
  background: #C7BEBE;
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
}

.card__text {
  border-radius: 0 0 5px 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__text .card__section {
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-around;
  padding: 2rem 2rem 0 2rem;
}
.card__text .card__element {
  width: 45%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__text .card__name {
  width: 65%;
  font-size: 1.8rem;
}
.card__text .card__duration {
  width: 25%;
  text-align: right;
}
.card__text .card__ingredients,
.card__text .card__description {
  font-size: 1.2rem;
  max-height: 9rem;
  line-height: 1.25;
}
.card__text .card__ingredients .ingredient__name {
  font-weight: bold;
}

@media screen and (max-width: 1080px) {
  .card {
    width: 45vw;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
.ingredients__color {
  background: #3282F7;
}

.appliance__color {
  background: #68D9A4;
}

.ustensils__color {
  background: #ED6454;
}

.tags {
  padding: 2.5rem 0;
  min-height: 17rem;
  display: flex;
  flex-direction: column;
}

.tags__search {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.tags__chevron {
  color: white;
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
}
.tags__chevron > i {
  pointer-events: none;
}

.tags__wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  max-height: 25rem;
  flex: 0 0 17rem;
  border-radius: 5px;
  transition: flex-basis 0.25s cubic-bezier(0.6, 0.6, 0.8, 1.25);
}
.tags__wrapper .tags__btn, .tags__wrapper .tags__list {
  color: white;
  width: 100%;
  background-color: inherit;
  border-radius: inherit;
}
.tags__wrapper .tags__btn {
  cursor: pointer;
}
.tags__wrapper[aria-expanded=true] {
  flex: 0 0 51rem;
}
.tags__wrapper[aria-expanded=true] .tags__chevron {
  transform: rotate(180deg);
}
.tags__wrapper[aria-expanded=true] .tags__list {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  min-height: 7rem;
  animation: 0.25s displaying 0.25s linear forwards;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.tags__wrapper[aria-expanded=true] .tags__list::-webkit-scrollbar {
  width: 10px;
}
.tags__wrapper[aria-expanded=true] .tags__list::-webkit-scrollbar-track {
  background: transparent;
}
.tags__wrapper[aria-expanded=true] .tags__list::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius: 5px;
}
.tags__wrapper[aria-expanded=true] .tags__list::-webkit-scrollbar-thumb:hover {
  background: #C7BEBE;
}

@keyframes displaying {
  to {
    max-height: 40rem;
  }
}
.tags__list {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  max-height: 0;
  width: 51rem;
  background: inherit;
}
.tags__list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 2;
  gap: 1.25rem;
  padding: 0 1.5rem;
}
.tags__list ul .tag__btn {
  cursor: pointer;
}
.tags__list ul .tag__btn[aria-selected=true] {
  color: #e7e7e7;
  opacity: 0.5;
}
.tags__list ul .tag__btn[aria-hidden=true] {
  display: none !important;
}
.tags__list .tags__input {
  border: none;
  background: none;
  width: 90%;
  height: 6rem;
  margin: 0.5rem;
  line-height: 2;
  font-size: 1.8rem;
  color: white;
  padding-left: 15px;
}
.tags__list .tags__input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.tags__list .tags__input::placeholder {
  color: white;
  opacity: 0.5;
}

.tag__selected {
  font-size: 1.4rem;
  border: none;
  color: white;
  border-radius: 0.5rem;
  padding: 1.25rem 1.5rem;
  margin: 0 1.5rem 1.5rem 0;
  cursor: pointer;
}
.tag__selected > i {
  pointer-events: none;
}

@media screen and (max-width: 1080px) {
  .tags__search {
    position: relative;
    display: block;
  }
  .tags__wrapper {
    position: absolute;
    max-height: 25rem;
    width: 32%;
    transition: width 0.25s ease-in-out;
  }
  .tags__wrapper:nth-child(1) {
    left: 0%;
  }
  .tags__wrapper:nth-child(2) {
    left: 34%;
  }
  .tags__wrapper:nth-child(3) {
    left: 68%;
  }
  .tags__wrapper[aria-expanded=true] {
    width: 100%;
    left: 0;
    z-index: 10;
  }
  @keyframes displaying {
    to {
      max-height: 40rem;
    }
  }
}
section {
  max-width: 1400px;
  margin: auto;
  padding: 0 1rem;
  font-size: 1.8rem;
}

.tags__btn,
#search__text {
  height: 7rem;
  border: none;
  font-size: 1.8rem;
}

.search__input {
  position: relative;
  margin: auto;
}
.search__input #search__text {
  background: #e7e7e7;
  padding: 0 2rem;
  width: calc(100% - 4rem);
}
.search__input #search__text::-moz-placeholder {
  color: #C7BEBE;
}
.search__input #search__text::placeholder {
  color: #C7BEBE;
}
.search__input .search__icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 5rem 0;
}
.recipes .no-recipe {
  width: 100%;
  padding: 2rem;
  margin: 2rem;
  font-size: 2rem;
  border-radius: 5px;
  background: #C7BEBE;
  color: white;
  display: none;
}
.recipes .no-recipe[aria-hidden=false] {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */