section {
    max-width: 1400px;
    margin: auto;
    padding: 0 1rem;
    font-size: 1.8rem;
}

.tags__btn,
#search__text {
    height: 7rem;
    border: none;
    font-size: 1.8rem;
}

.search__input {
    position: relative;
    margin: auto;

    #search__text {
        background: $light-grey;
        padding: 0 2rem;
        width: calc(100% - 4rem);

        &::placeholder {
            color: $dark-grey;
        }
    }

    .search__icon {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5rem 0;

    .no-recipe{
        width: 100%;
        padding: 2rem;
        margin: 2rem;
        font-size: 2rem;
        border-radius: 5px;
        background: $dark-grey;
        color: white;
        display: none;

        &.active{
            display: block;
        }
    }
}