section {
    max-width: 1400px;
    margin: auto;
    font-size: 1.8rem;
}

.tags__btn,
#search__text {
    height: 7rem;
    border: none;
    font-size: 1.8rem;
}

.search__input {
    position: relative;
    margin: auto;

    #search__text {
        background: $light-grey;
        padding: 0 2rem;
        width: calc(100% - 4rem);

        &::placeholder {
            color: $dark-grey;
        }
    }

    .search__icon {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.tags {
    padding-top: 25px;
    min-height: 17rem;
    display: flex;
    flex-direction: column;
}

.tags__search {
    display: flex;
    gap: 1.5rem;
}

.tags__wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    max-height: 25rem;
    flex: 0 0 17rem;
    border-radius: 5px;
    transition: flex-basis .25s cubic-bezier(.6, .6, .80, 1.25);

    & .tags__btn,
    & .tags__list {
        color: white;
        width: 100%;
        // min-width: 17rem;
        background-color: inherit;
        border-radius: inherit;
    }

    & .tags__btn {
        cursor: pointer;
    }

    &.ingredients__wrapper {
        background: $blue;
    }

    &.appliance__wrapper {
        background: $green;
    }

    &.ustensils__wrapper {
        background: $orange;
    }
}

.tags__list {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-height: 0;
    width: 51rem;
    background: inherit;

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        line-height: 2;
        gap: 1.25rem;
        padding: 0 1.5rem;

        & li{
            cursor: pointer;
        }
    }

    .tags__input {
        border: none;
        background: none;
        width: 100%;
        line-height: 2;
        font-size: 1.8rem;

        &::placeholder {
            color: white;
            opacity: .5;
            padding-left: 15px;
        }
    }
}

.tags__wrapper[aria-expanded="true"] {

    flex: 0 0 51rem;

    >.tags__list {
        overflow-x: hidden;
        overflow-y: auto;
        display: block;
        animation: .25s displaying .25s linear forwards;

        &::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
          &::-webkit-scrollbar-track {
            background: transparent;
          }
          
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $light-grey;
            border-radius: 5px;
          }
          
          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: $dark-grey;
          }
    }
}

@keyframes displaying {
    to {
        max-height: 40rem;
    }
}


.recipes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5rem 0;
}